config.stopBubbling = true
lombok.fieldDefaults.defaultPrivate = true
lombok.equalsAndHashCode.callSuper = call

# Do not use following  annotations.
lombok.sneakyThrows.flagUsage=warning
lombok.val.flagUsage=warning

# https://medium.com/@mladen.bolic/lombok-data-improve-your-code-coverage-a74fb624a72b
lombok.addLombokGeneratedAnnotation = true